/*
color palette

hsl(23, 16%, 84%) pale pink
hsl(10, 16%, 78%) shadow pink
hsl(60, 9%, 69%) light
hsl(133, 8%, 53%) medium
hsl(170, 12%, 39%) dark

hsl(337, 79%, 65%) violet red (dark pink)
hsl(337, 82%, 74%) tickle me pink (medium pink)
hsl(214, 100%, 97%) alice blue (bg) (light purple)
hsl(246, 50%, 62%) (medium purple)
hsl(245, 33%, 30%) space cadet (dark purple)


*/

* {
  box-sizing: border-box;
  margin-left: 0;
}

body {
  line-height: 1.5;
  margin: 0;
  background-color: hsl(214, 100%, 97%);
  font-family: "roboto";
}

footer {
  display: flex;
  justify-content: center;
  border-top: 3px solid hsl(337, 79%, 65%);
  background-color: hsl(337, 82%, 74%);
  bottom: 0;
  position: sticky;
}

button-logout {
  display: flex;
}

button-logout:hover {
  background-color: hsl(337, 82%, 74%);
}

p {
  margin: 15px 10px;
}

.formular {
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  background-color: hsl(246, 50%, 62%);
  padding: 5px;
  display: flex;
  text-align: center;
  justify-content: center;
  border-bottom: 3px solid hsl(245, 33%, 30%);
}

.profile__box {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.profile__pic {
  xmargin: 2rem;
  width: 10rem;
  border-radius: 50%;
}
.profile__tags {
  display: flex;
  list-style: none;
  justify-content: space-around;
}
