/*
color palette

hsl(23, 16%, 84%) pale pink
hsl(10, 16%, 78%) shadow pink
hsl(60, 9%, 69%) light
hsl(133, 8%, 53%) medium
hsl(170, 12%, 39%) dark


*/

* {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  margin: 0;
  background-color: ivory;
  font-family: "Helvetica";
}

footer {
  display: flex;
  justify-content: center;
  border-top: 3px solid hsl(10, 16%, 78%);
  background-color: hsl(23, 16%, 84%);
  bottom: 0;
  position: sticky;
}

button-logout {
  display: flex;
}
.formular {
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  background-color: hsl(133, 8%, 53%);
  padding: 5px;
  display: flex;
  text-align: center;
  justify-content: center;
  border-bottom: 3px solid hsl(170, 12%, 39%);
}

.list {
  border: solid 2px hsl(10, 16%, 78%);
  border-radius: 30%;
  padding: 4px;
}

.profile__box {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.profile__pic {
  xmargin: 2rem;
  width: 10rem;
  border-radius: 50%;
}
.profile__tags {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

p {
  margin: 15px 10px;
}
