@import "./components/cards.css";
@import "./base.css";

@import "./components/navigation.css";

/*

* {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  margin: 0;
  background-color: ivory;
  font-family: "Helvetica";
}

footer {
  display: flex;
  justify-content: center;
  border-top: 3px solid lavender;
  background-color: lavenderblush;
}

button-logout {
  display: flex;
}
.formular {
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  background-color: rgb(127, 187, 159);
  padding: 5px;
  display: flex;
  text-align: center;
  justify-content: center;
  border-bottom: 3px solid rgb(2, 80, 44);
}

.list {
  border: solid 1px lavenderblush;
  border-radius: 30%;
  padding: 4px;
}

.profile__box {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.profile__pic {
  xmargin: 2rem;
  width: 10rem;
  border-radius: 50%;
}
.profile__tags {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

p {
  margin: 15px 10px;
}
*/
