.card {
  background-color: hsl(246, 50%, 62%);
  border-bottom: 3px solid hsl(245, 33%, 30%);
  text-align: center;
  margin: 3rem;
  padding: 1rem;
  position: relative;
  box-shadow: hsla(246, 40%, 10%, 0.94) 0px 3px 8px;
}

.card__bookmark {
  position: absolute;
  width: 3.5rem;
  right: 30px;
  top: -1rem;
  xmargin-bottom: -2.2rem;
  opacity: 0.5;
}

.card__bookmark:hover {
  transform: scale(1.25);
  transition: 1s ease;
  opacity: 1;
}

.card__tags {
  display: flex;
  list-style: none;
  justify-content: center;
}

.list {
  border: solid 2px hsl(214, 100%, 97%);
  border-radius: 30%;
  padding: 4px;
  font-size: 0.8rem;
}

x.spoiler_button {
  background-color: bisque;
}

x.spoiler_button:hover {
  font-weight: bold;
  xcolor: white;
  box-shadow: 5px 5px 5px black;
}

x.spoiler_button:active {
  font-weight: bold;
  box-shadow: none;
}

ul.card__tags {
}
