.card {
  background-color: hsl(246, 50%, 62%);
  border-bottom: 3px solid hsl(245, 33%, 30%);
  border-radius: 5%;
  text-align: center;
  margin: 3rem;
  padding: 1rem;
  position: relative;
  box-shadow: hsla(246, 40%, 10%, 0.94) 0px 3px 8px;
}

.card__answer {
  color: black;
}

.card__bookmark {
  position: absolute;
  width: 3.5rem;
  right: 30px;
  top: -1rem;
  xmargin-bottom: -2.2rem;
  opacity: 0.5;
}

.card__bookmark:hover {
  transform: scale(1.25);
  transition: 1s ease;
  opacity: 1;
}

.card__button {
  background: transparent;
  border: 2px solid white;
  border-radius: 100vw;
  color: ivory;
  padding: 0.4rem;
}

.card__button:hover {
  cursor: pointer;
  background-color: ivory;
  color: hsl(245, 33%, 30%);
}

.card__tags {
  display: flex;
  list-style: none;
  justify-content: center;
}

.hidden {
  visibility: hidden;
}

.list {
  border: solid 2px hsl(214, 100%, 97%);
  border-radius: 100vw;
  xcolor: ivory;
  padding: 4px;
  font-size: 0.8rem;
}

ul {
  padding-left: 0;
}
